<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thymeleaftags</title>
</head>
<body>
	<p th:text="'안녕하세요! ' + ${name}">기본값</p>
	<p th:utext="${content}">기본값</p>
	<input type="text" th:value="${name}">
	<a th:href="@{/user/profile(id=${userId})}" >사용자 프로필</a>
	<form th:action="@{/user/save}" mothod="post">
		<input type="text" name="name">
		<button type="submit">저장</button>
	</form>
	
	<ul>
		<li th:each="person : ${persons}" th:text="${person.name}"></li>
	</ul>
	
	<p th:if="${isLoggedIn}">로그인되었습니다!</p>
	<p th:unless="${isLoggedIn}">로그인하세요!</p>
	
	<div th:switch="${role}">
		<p th:case="'admin'">관리자</p>
		<p th:case="'user'">사용자</p>
		<p th:case="'*'">기타</p>
	</div>
	
	<div th:include="fragments/header :: header" th:style="'border:1px solid #333;'"></div>

	<div th:replace="fragments/header :: header" th:style="'border:1px solid #333;'"></div>
	
	<p th:classappend="${isActive} ? 'active' : 'inactive'">상태</p>
	
	<p th:style="'color:' + (${isActive} ? 'green' : 'red')">상태</p>
	
	<p th:remove="all">이 요소는 제거됩니다!</p>
	
</body>
</html>